.App {
  display:flex;
  justify-content:space-around;
}

body {
  background:url(food.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  background-color:#dcedf7;
  border-radius:20px;
  padding:15px;
}

.button-add{
  font-family: 'Montserrat', sans-serif;
  background-color:#77cf40;
  padding:20px;
  border-radius:20px;
  border:none;
  font-size:17px;

}
.button-delete{
  font-family: 'Montserrat', sans-serif;
  background:none;
  border:0;
  color:red;
  font-weight:bolder;
}
.whole-plan{
  width:70%;
  hight:100vh;
}
.myInput{
  width:70%;
  height:20px;
  padding:10px;
  border-radius:20px;
  margin-top:30px;

}
textarea{
  display:block;
  border:1px solid #ddd;
  margin-top:30px;
  width:70%;
  height:200px;
  border-radius:20px;
  font-family: 'Montserrat', sans-serif;
}

.selected {
  background-color: #fad106;
}
.default {
  background-color: #dcedf7;
}
p {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
}
.title{ 
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
}
.field {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}